.main{
	margin:0 auto;
	width:900px;
}
.line1{
	background:#6588A8;
	width:900px;
	height:4px;
	margin-top:-5px;
}
.second{
	background: #D8E9F7;
	height:30px;
	width:900px;
}
.third{
	width:600px;
	height:auto;
	border:2px solid #79A3CF;
	margin: 30px auto;
}
.head{
	height:35px;
	background: #79A3CF;
	color:#fff;
	font:bold 16px "寰蒋闆呴粦";
	padding-left: 10px;
	line-height: 35px;
}
table{
	margin: 20px 60px;
	font:15px "寰蒋闆呴粦";
	color: #333333;
}
tr{
	text-align: right;
	height:36px;
}
.aa{
	height:18px;
	width:180px;
	border:1px solid #79A3CF;
}
.line2{
	width:900px;
	height: 1px;
	background: #7BA4D0;
	margin-top:25px;
}
.end{
	margin-top:5px;
	text-align: center;
	color:#333333;
	font:13px "寰蒋闆呴粦";
}
.third{
	width:600px;
	height:260px;
	border:2px solid #79A3CF;
	margin:30px auto;
}
.third2{
	width:400px;
	height:90px;
	border:2px solid #79A3CF;
	margin:50px auto;
}

.bottom{
	height:10px;
}
.bb{
	height:18px;
	width:360px;
	border:1px solid #79A3CF;
}
a{
	color:#2484C1;
	font:14px "寰蒋闆呴粦";
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.tableb{
	margin:10px auto;
}
